demos/ReportGenerator/scripts/state_machine.json
{
  "Comment": "Generador de reportes",
  "StartAt": "BuscarVuelos",
  "States": {
    "BuscarVuelos": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:$AWS_ACCOUNT:function:buscar_vuelos",
      "Next": "HasFlights"
    },
    "HasFlights": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vuelos",
          "IsPresent": true,
          "Next": "CrearReporte"
        }
      ],
      "Default": "NoVuelos"
    },
    "CrearReporte": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:$AWS_ACCOUNT:function:crear_reporte",
      "Next": "GuardarReporte"
    },
    "GuardarReporte": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:$AWS_ACCOUNT:function:guardar_reporte",
      "End": true
    },
    "NoVuelos": {
      "Type": "Succeed"
    }
  }
}
